/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}


/*
 * Sidebar
 */

/* large screen*/
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

#showMenu {
  display: none;
}

#hideMenu {
  display:none;
  border: 1px solid #fff;
  border-radius: 2px;
  width: 22px;
  text-align: center;
  margin-left: 75px;
}

/*small screen*/
@media (max-width: 768px) {

  #showMenu {
    position: fixed;
    top: 51px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  #hideMenu {
    display:block;
  }

  #Sidebar {
    display: none;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
}

.date-created {
  display: inline-flex;
}

.panel-bottom {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.btn {
  font-style: normal;
}

.btn-notify-view {
  float: right;
}

.has-actions {
  color: #b73347;
}

.original-call {
  background-color: #c7d6ed;
}

.user-action {
  background-color: #cae4f2;
}

.closed-action {
  background-color: #f97070;
}

.well {
  padding: 10px 20px;
}

.urgent {
  color: #b73347;
}

.delete-notification {
  background-color: #c7d6ed;
  color: black;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: solid grey 1px;
  font-size: 0.6em;
}

.help-text {
  color: #5a7489;
}

textarea {
  max-width: 100%;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
